@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

$bg-color: #151728;
$border-color: #272a3a;
$title-font: "DM Sans", sans-serif;
$body-font: "Source Sans Pro", sans-serif;
$side-title: #5c5e6e;
$button: #8f98a9;

.portfolio {
	display: flex;
	padding-top: 20px;
	position: relative;
	z-index: 2;
	&-left {
		width: 310px;
		flex-shrink: 0;
	}
	&-right {
		flex-grow: 1;
		padding-left: 20px;
	}
	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		&-right {
			padding-left: 0;
			margin-bottom: 20px;
		}
		&-left {
			width: 100%;
		}
	}
}

.portstus-main {
	position: relative;
	padding: 0 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $border-color;
	padding-bottom: 20px;
	flex-wrap: wrap;

	.select-dropdown {
		position: relative;
		display: inline-block;
		max-width: 100%;

		&__list {
			position: absolute;
			display: block;
			top: 100%;
			left: 87%;
			right: auto;
			max-height: 300px;
			overflow: auto;
			margin: 0;
			padding: 0;
			list-style-type: none;
			opacity: 0;
			pointer-events: none;
			transform-origin: top left;
			transform: scale(1, 0);
			transition: all ease-in-out 0.3s;
			z-index: 2;

			width: 150px;
			max-width: 200px;

			&.active {
				opacity: 1;
				pointer-events: auto;
				transform: scale(1, 1);
			}
		}
		&__list-item {
			display: block;
			list-style-type: none;
			padding: 10px 15px;
			background: $bg-color;
			border-top: 1px solid #3c3c3c;
			font-size: 14px;
			line-height: 1.4;
			cursor: pointer;
			color: #616161;
			transition: all ease-in-out 0.3s;
			white-space: nowrap;

			& a {
				text-decoration: none;
			}
		}
	}
}

.portland {
	padding-top: 20px;
	margin-top: 20px;
	.portstus-main {
		border: none;
		display: flex;
	}
	.intro-menu {
		margin-bottom: auto;
		margin-top: 5px;
	}
}

.portland-detail {
	width: calc(100% - 110px);
}

.portland-title span {
	color: #1771d6;
	cursor: pointer;
}

.portland-date {
	font-size: 15px;
	color: #595c6c;
	margin-top: 4px;
}

.portland-content {
	padding: 0 20px 20px;
}

.portland-photo {
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
	margin-top: 10px;
}

.portland-photos {
	display: flex;
	margin-top: 20px;
	max-height: 30vh;
}

.portland-photos > .portland-photo {
	width: 50%;
}

.portland-right {
	width: 50%;
	margin-left: 10px;
	line-height: 0;
	display: flex;
	flex-direction: column;
	.portland-photo {
		height: calc(50% - 10px);
	}
}

.portland-actions {
	padding: 0 20px 20px;
}

.portland-action {
	margin-right: 20px;
	text-decoration: none;
	color: #a2a4b4;
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	&:hover {
		color: #fff;
	}
	svg {
		width: 16px;
		margin-right: 6px;
	}
}
